<section>
    <div>
        <table>
            <tr>
                <th>Снимка</th>
                <th>Име</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Име на клиент</th>
                <th>Начална дата</th>
                <th>Крайна дата</th>
            </tr>
            <tr>
                <td><img th:src="${car.imgURL}"/></td>
                <td>[[${car.name}]]</td>
                <td>[[${customer.phoneNumber}]]</td>
                <td>[[${customer.email}]]</td>
                <td th:text="${customer?.name}">Няма</td>
                <td>[[${#dates.format(requested.startDate, 'dd-MM-yyyy')}]]</td>
                <td>[[${#dates.format(requested.endDate, 'dd-MM-yyyy')}]]</td>
            </tr>
        </table>
        <form th:action="@{/admin/bookRequest/{id}/accept(id=${id})}" method="POST">
            <input type="hidden" id="isAccepted" name="isAccepted"/>
            <div>
                <button type="submit" onclick="document.getElementById('isAccepted').value = 'yes'">Приеми</button>
                <button type="submit" onclick="document.getElementById('isAccepted').value = 'no'">Oткажи</button>
            </div>
        </form>
    </div>
</section>
