<!-- Home Section -->
<div id="home" class="parallax-section">
    <!--     <div class="overlay"></div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="slide-text">
                    <h3>Какво предлагаме? <a href="" class="typewrite" data-period="2000" data-type='[ "Коли под наем", "Специални намаления", "Пълна застраховка" ]'> <span class="wrap"></span> </a> </h3>
                    <h1>Добре дошли в RentAuto - Sofia!</h1>
                    <p>Тук може да наемете кола</p>
                    <p>Заплащането става при взимане на автомобила. Само в брой. </p>
                    <a href="/#about" class="btn btn-default section-btn">Започнете</a> </div>
            </div>
        </div>
    </div>
</div>
