<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119032044-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-119032044-1');
	gtag('config', 'AW-824530894');
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K8KN5RG');</script>
	<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="Американски коли под наем и транспортни услуги, джипове и бусове 8 + 1">
    <meta name="google-site-verification" content="uOe4imOiHaUP0RYLvjeltkBE8s1GT5i2-7Ucv3fjvcI" />
    <meta name="keywords" content="коли под наем софия, бусове под наем софия, бус под наем софия, кола под наем софия">
    <meta name="author" content="Denis Barzanov">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <!-- Fontawesome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Magnific-popup css -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">

    <!-- Owl Carousel css -->
    <link rel="stylesheet" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    
    <link rel="stylesheet" th:href="@{/intl-tel-input-12.1.0/build/css/intlTelInput.css}">
    
	<!--From-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<!-- Optional theme -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

	<!--To-->

    <script th:src="@{/js/smoothscroll.js}"></script>

	<!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
