<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Начало</a></li>
            <li><a href="/car/search">Резервирайте</a></li>
            <li><a href="/car/inclusions">Какво включва</a></li>
            <li><a href="/taking_place">Карта</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-user"></span>Админ?</a></li>
        </ul>
    </div>
</nav>