<!-- Bootstrap -->
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}" charset="UTF-8"></script>

<!-- Popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/magnific-popup-options.js}"></script>

<!-- Carousel -->
<script th:src="@{/js/owl.carousel.js}"></script>

<!-- Sticky Header -->
<script th:src="@{/js/jquery.sticky.js}"></script>

<!-- Parallax -->
<script th:src="@{/js/jquery.parallax.js}"></script>

<!-- Counter -->
<script th:src="@{/js/counter.js}"></script>
<script th:src="@{/js/smoothscroll.js}"></script>

<!-- Custom -->
<script th:src="@{/js/custom.js}"></script>
