<!-- Service Section -->
<div id="service" class="parallax-section">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title" >
            <h3>Car Rental <span>Services</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam. Maecenas odio nisi, efficitur eget</p>
        </div>
        <div class="row">
            <!-- Service 1 -->
            <div class="col-md-4 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <h4>Phone Reservation</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>

            <!-- Service 2 -->
            <div class="col-md-4 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <h4>Special Rates</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>

            <!-- Service 3 -->
            <div class="col-md-4 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-road" aria-hidden="true"></i></div>
                    <h4>One Way Rental</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>

            <!-- Service 4 -->
            <div class="col-md-4 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-umbrella" aria-hidden="true"></i></div>
                    <h4>Life Insurance</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>

            <!-- Service 5 -->
            <div class="col-md-4 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-building" aria-hidden="true"></i></div>
                    <h4>City to City</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>

            <!-- Service 6 -->
            <div class="col-md-4 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-car" aria-hidden="true"></i></div>
                    <h4>Free Rides</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
        </div>
    </div>
</div>