<tr>
    <td>
        Адресът на взимане на колите е
    </td>
    <td>
        <div class="popup" onclick="popUp()">
            <button>
                Покажи
                <span class="popuptext" id="myPopUp">
                                        България, София, ж.к. Надежда, улица "Подпоручик Футеков 1",<br/>
                                        кръстовището на улица Бели Дунав и пътя на <br/>
                                        Ломско Шосе, блока срещу Била, <br/>
                                        офис 6 - етаж 2 (до автошкола "Василеви")
                                    </span>
            </button>
        </div>
    </td>
    <td>
        <button th:onclick="'location.href = \'' + @{/taking_place} + '\''">Виж на картата</button>
    </td>
</tr>