<!-- About section -->
<div id="about">
    <div class="container">
        <div class="section-title">
            <h3>About <span>Car Rental</span> Template</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam. Maecenas odio nisi, efficitur eget</p>
        </div>
        <div class="about-desc">
            <div class="row">
                <div class="col-md-7">
                    <ul class="circleList row">
                        <li class="col-md-4 col-sm-4">
                            <div class="cricle"><i class="fa fa-car" aria-hidden="true"></i></div>
                            <div class="title">Mauris convallis felis</div>
                        </li>
                        <li class="col-md-4 col-sm-4">
                            <div class="cricle"><i class="fa fa-users" aria-hidden="true"></i></div>
                            <div class="title">Mauris convallis felis</div>
                        </li>
                        <li class="col-md-4 col-sm-4">
                            <div class="cricle"><i class="fa fa-tags" aria-hidden="true"></i></div>
                            <div class="title">Mauris convallis felis</div>
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <br>
                        <br>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    <ul class="orderlist">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Sed a mauris at ex lobortis hendrerit in nec felis.</li>
                        <li>Nunc sed urna sit amet sapien rhoncus pretium congue id sem.</li>
                        <li>Vivamus sagittis sapien a tellus consequat rutrum.</li>
                        <li>Mauris at justo malesuada ligula accumsan tincidunt quis efficitur orci.</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="postimg"><img th:src="@{/images/about-img.jpg}"></div>
                </div>
            </div>
        </div>
    </div>
</div>