<!-- About section -->
<div id="about">
    <div class="container">
        <div class="section-title">
            <h3>За <span>Sofia</span> RentAuto</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam. Maecenas odio nisi, efficitur eget</p>-->
        </div>
        <div class="about-desc">
            <div class="row">
                <div class="col-md-7">
                    <ul class="circleList row">
                        <li class="col-md-6 col-sm-6">
                            <div class="cricle"><i class="fa fa-car" aria-hidden="true"></i></div>
                            <div class="title">Американски автомобили</div>
                        </li>
                        <li class="col-md-6 col-sm-6">
                            <div class="cricle"><i class="fa fa-tags" aria-hidden="true"></i></div>
                            <div class="title">Ниски цени</div>
                        </li>
                    </ul>
                    <p>Предлагаме американски автомобили и джипове с LPG системи, с разход на гориво - около &euro; 5 на 100км.<br>
                    </p>
                    <ul class="orderlist">
                        <li>Без лимит на километрите.</li>
                        <li>Включва  всички застраховки.</li>
                        <li>Без скрити такси и комисионни.</li>
                        <li>Гъвкави условия.</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="postimg"><img th:src="@{/images/about-img.jpg}"></div>
                </div>
            </div>
        </div>
    </div>
</div>