<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/headAdmin" th:with="pageTitle='Rent a Car Sofia'"></head>

<body>
<header>
    <div>
        <p th:if="${message}" th:text="${message}"></p>
    </div>
</header>
<main>
    <article>
        <div th:include="${view}"></div>
    </article>
</main>
<footer>
    <div>
        <button onclick="location.href='/admin/options'">Назад</button>
    </div>
</footer>

</body>
</html>