<section>
    <div>
        <button onclick="location.href='/admin/options'">Admin?</button>
    </div>
</section>
<section>
    <div>
        <th:block th:include="fragments/whatWeOffer"></th:block>
    </div>
</section>
<section>
    <div>
        <th:block th:include="car/inclusions"></th:block>
    </div>
</section>
<section>
    <div>
        <h2>Снимки на колите</h2>
    </div>
    <div class="flex-box">
        <th:block th:each="car : ${cars}">
            <img th:src="${car.imgURL}"/>
        </th:block>
    </div>
</section>
<script>
    window.onload = function (){
        let callButton = document.getElementById("callReference");
        callButton.href = "/car/search";
        callButton.innerHTML = "Резервирайте";
    }
</script>