<h1>Всички записи</h1>
<section>
    <table>
        <tr>
            <th>Снимка</th>
            <th>Начална дата</th>
            <th>Крайна дата</th>
            <th>Платил Капаро</th>
            <th>Опция</th>
        </tr>

        <th:block th:each="booking : ${bookings}">
            <tr>
                <td>
                    <img th:src="${booking.car.imgUrl}"/>
                </td>
                <td>[[${#dates.format(booking.startDate, 'dd-MM-yyyy')}]]</td>
                <td>[[${#dates.format(booking.endDate, 'dd-MM-yyyy')}]]</td>
                <td>
			<div th:if="${booking.earnest == 0}" >
                <img style="height: 100px;" src="http://ws.cadcorp.com/WebMapLayers/mobile/img/presales/cross2.png"/>
			</div>
			<div th:unless="${booking.earnest == 0}" >
				[[${booking.earnest}]]
			</div>
		        </td>
                <td>
                    <div>
                        <button th:onclick="'location.href = ' + '\'' + @{/admin/booking/{id}/delete(id=${booking.id})} + '\''">Виж</button>
                        <button th:onclick="'location.href = ' + '\'' + @{/admin/booking/{id}/edit(id=${booking.id})} + '\''">Промени</button>
                    </div>
                </td>
            </tr>
        </th:block>
    </table>
</section>
