<h1>Всички записи</h1>
<section>
    <table>
        <tr>
            <th>Запис ID</th>
            <th>Кола ID</th>
            <th>Клиент ID</th>
            <th>Начална дата</th>
            <th>Крайна дата</th>
            <th>Платил Капаро</th>
            <th>Опция</th>
        </tr>

        <th:block th:each="booking : ${bookings}">
            <tr>
                <td>[[${booking.id}]]</td>
                <td>[[${booking.carId}]]</td>
                <td>[[${booking.customerId}]]</td>
                <td>[[${#dates.format(booking.startDate, 'dd-MM-yyyy')}]]</td>
                <td>[[${#dates.format(booking.endDate, 'dd-MM-yyyy')}]]</td>
                <td>[[${booking.payedDeposit} ? 'Да' : 'Не']]</td>
                <td>
                    <div>
                        <button th:onclick="'location.href = ' + '\'' + @{/admin/booking/{id}/delete(id=${booking.id})} + '\''">Изтрий</button>
                        <button th:onclick="'location.href = ' + '\'' + @{/admin/booking/{id}/edit(id=${booking.id})} + '\''">Редактирай</button>
                    </div>
                </td>
            </tr>
        </th:block>
    </table>
</section>
