<h1>Изтрий резервация</h1>
<section>
    <div>
        <!--The car is here-->
        <table>
            <tr>
            	<th>Снимка</th>
            	<th>Име</th>
	    </tr>
            <tr>
                <td>
                    <img th:src="${car.imgURL}"/>
                </td>
                <td>[[${car.name}]]</td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div>
        <table>
            <tr>
                <th>Телефон на клиент</th>
                <th>Email на клиент</th>
            </tr>
            <tr>
                <td>[[${customer.phoneNumber}]]</td>
                <td>[[${customer.email}]]</td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div>
        <table>
            <tr>
                <th>Дата на взимане</th>
                <th>Дата на връщане</th>
            </tr>
            <tr>
                <td>[[${#dates.format(booking.startDate, 'dd-MM-yyyy')}]]</td>
                <td>[[${#dates.format(booking.endDate, 'dd-MM-yyyy')}]]</td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div>
        <table>
            <tr>
                <th>Цена на ден</th>
                <th>Цяла цена</th>
            </tr>
            <tr>
                <td>[[${pricePerDay}]]</td>
                <td>[[${totalPrice}]]</td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div>
        <form th:action="@{/admin/booking/{id}/delete(id=${booking.id})}" method="POST">
            <div>
                <button type="submit">Изтрий</button>
            </div>
        </form>
    </div>
</section>
