<h1>Всички Клиенти</h1>

<div>
    <button type="button" th:onclick="'location.href = \'' + @{/admin/customer/create} + '\''">Създай</button>
</div>

<section>
    <div>
        <table>
            <tr>
                <th>Телефон</th>
                <th>Email</th>
                <th>Опция</th>
            </tr>

            <th:block th:each="customer : ${customers}">
            <tr>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.email}"></td>
                <td>
                    <div>
                        <button th:onclick="'location.href = \'' + @{/admin/customer/{id}/delete(id=${customer.id})} + '\''">Изтрий</button>
                    </div>
                    <div>
                        <button th:onclick="'location.href = \'' + @{/admin/customer/{id}/edit(id=${customer.id})} + '\''">Редактирай</button>
                    </div>
                </td>
            </tr>
            </th:block>
        </table>
    </div>
</section>
