<h1>Създай Клиент</h1>
<section>
    <div>
        <form th:action="@{/admin/customer/create}" method="POST">
            <div>

                <label for="phoneNumber">Телефон</label>
                <input type="text" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}" />


                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:value="${customer.email}" />


                <div>
                    <button type="submit">Създай</button>
               </div>
            </div>
        </form>
    </div>
</section>