<h1>Изтрий Клиент</h1>
<section>
    <div>
        <form th:action="@{/admin/customer/{id}/delete(id=${customer.id})}" method="POST">
            <div>

                <label for="name">Име</label>
                <input type="text" id="name" name="name" th:value="${customer.name}" disabled="disabled" />

                <label for="phoneNumber">Телефон</label>
                <input type="text" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}" disabled="disabled" />

                <div>
                    <button type="submit">Изтрий</button>
                </div>
            </div>
        </form>
    </div>
</section>