<h1>Всички коли</h1>

<section>
        <table>
            <tr>
                <th:block th:include="fragments/tableHeadCommon"></th:block>
                <th>ID</th>
            </tr>

            <th:block th:each="car : ${cars}">
            <tr>
                <td>
                    <img th:src="${car.imgURL}"/>
                </td>
                <td th:text="${car.name}"></td>
                <td th:text="${car.price}"></td>
                <td th:text="${car.id}"></td>
            </tr>
            </th:block>
        </table>
</section>