<section>
    <div>
        <table>
            <tr th:include="fragments/tableHeadCommon"></tr>

            <tr>
                <td>
                    <img th:src="${car.imgURL}"/>
                </td>
                <td th:text="${car.name}"></td>
                <td th:text="${param.pricePerDay[0]}"></td>
            </tr>
            <th:block th:include="fragments/paramShowDates"></th:block>
        </table>
        <form th:action="@{/car/book/{id}(id=${car.id})}" method="POST">
            <div>
                <label for="phoneNumber">Въведете телефона си</label>
                <input type="text" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}" required="required"/>
                <input class="invisible" type="text" id="startDate" name="startDate" th:value="${param.startDate[0]}"/>
                <input class="invisible" type="text" id="endDate" name="endDate" th:value="${param.endDate[0]}"/>
                <input class="invisible" type="text" id="price" name="price" th:value="${param.pricePerDay[0]}"/>
                <div>
                    <button type="submit">Поръчай!</button>
                </div>
            </div>
        </form>
    </div>
</section>