<th:block th:include="fragments/contentTitle" th:with="contentTitle='Потвърдете заявката си'">
</th:block>


<div class="innercms">
    <div class="container">

        <!-- Blog start -->
        <div class="row">
            <div class="col-md-12">
                <!-- Blog List start -->
                <div class="blogWraper">
                    <ul class="blogList">
                        <li>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="postimg"><img th:src="${car.imgUrl}" alt="Car image"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="post-header">
                                        <h1><a>[[${car.name}]]</a></h1>
                                        <div style="font-size: 25px" class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Дата на взимане: [[${param.datetime_pick[0]}]]</div>
                                        <div style="font-size: 25px" class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Дата на връщане: [[${param.datetime_off[0]}]]</div>
                                        <div style="font-size: 25px" class="date"><i class="fa fa-money-bill-alt" aria-hidden="true"></i> TOTAL: &euro;[[${totalPrice}]]</div>
                                    </div>
                                    <div>
                                        <form th:action="@{/car/{id}/book(id=${car.id})}" id="confirmForm" method="POST" >
					                        <input type="submit" style="display: none" id="confirmButton"/>
                                            <div class="formrow" th:with="deposit = ${totalPrice*25/100}">
                                                <input type="hidden" id="startDate" name="startDate" th:value="${param.datetime_pick[0]}" />
                                                <input type="hidden" id="endDate" name="endDate" th:value="${param.datetime_off[0]}"/>
                                                <input type="hidden" id="deposit" name="deposit" th:value="${deposit}"/>


                                                <label for="email">Email</label>
                                                <input type="email" class="custom-input" id="email" name="email" th:value="${customer.email}" required="required" />

                                                <br/>

                                                <label for="phoneNumber">Телефон</label>
                                                <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}" class="custom-input" required="required"/>
                                                <script th:src="@{/intl-tel-input-12.1.0/build/js/intlTelInput.js}" type="text/javascript"></script>

                                                <script>
                                                    $("#phoneNumber").intlTelInput({
                                                        nationalMode: false,
                                                        preferredCountries: ['bg']
                                                    });
                                                </script>
                                            </div>
                                        </form>
                                    </div>
                                    <a href="javascript:{}" onclick="submitBooking()" class="readmore">Потвърди заявката<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Event snippet for Full Rental Request conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>

    function gtag_report_conversion(url) {
        /*<![CDATA[*/

        const callback = function () {
            if (typeof(url) !== 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-824530894/kWYhCMnCs4UBEM6vlYkD',
            'value': /*[[${totalPrice}]]*/ 500.00,
            'currency': 'EUR',
            'event_callback': callback
        });
        return false;

        /*]]>*/
    }
    function submitBooking() {
        // document.getElementById('confirmButton').click();
        $('#confirmForm').submit();
    }
    $(function() {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[id='confirmForm']").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                phoneNumber: {
                    required: true
                }
            },
            // Specify validation error messages
            messages: {
                phoneNumber: "Моля въведете тел. номер",
                email: "Моля въведете валиден email"
            },
            submitHandler: function(form) {
                gtag_report_conversion();
                form.submit();
                $('.preloader').fadeIn(1000);
            }
        });
    });
</script>
