<section>
    <div>
        <table>
            <tr>
               <th colspan="100%">
                   <h1>Какво включва цената</h1>
               </th>
            </tr>

            <tr>
                <td colspan="2">
                    Без лимит на километрите
                </td>
                <td>
                    <img src="https://mxpez29397.i.lithium.com/html/images/emoticons/2705.png" alt="tick" class="tick"/>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    Включва  всички застраховки
                </td>
                <td>
                    <img src="https://mxpez29397.i.lithium.com/html/images/emoticons/2705.png" alt="tick" class="tick"/>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    Без скрити такси и комисионни
                </td>
                <td>
                    <img src="https://mxpez29397.i.lithium.com/html/images/emoticons/2705.png" alt="tick" class="tick"/>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    Гъвкави условия
                </td>
                <td>
                    <img src="https://mxpez29397.i.lithium.com/html/images/emoticons/2705.png" alt="tick" class="tick"/>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <p>Тук са пълните условия</p>
                </td>
                <td>
                    <button><a href="https://drive.google.com/uc?export=download&amp;id=1VqlTGN6csN1KcLiStmg10v5IvlQJRP-Z">Свали</a></button>
                </td>
            </tr>
        </table>
    </div>
</section>