<h1>Как зависи цената от избрания период</h1>
<section>
    <div>
        <table>
            <tr>
                <th>За дни от</th>
                <th>До</th>
                <th>Отстъпка на<br/>ден в &euro;</th>
            </tr>
            <tr>
                <td>0</td>
                <td>3</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>8</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>15</td>
                <td>15</td>
            </tr>
            <tr>
                <td>15</td>
                <td>&infin;</td>
                <td>20</td>
            </tr>
        </table>
    </div>
</section>