<!-- Form Section -->
<div class="container" id="search">
    <div class="bformBox">
        <h3>РЕЗЕРВИРАЙТЕ КОЛА ДНЕС!</h3>
        <form id="searchForm" th:action="@{/car/search}" method="POST" onsubmit="return submission()" > 
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i> Място на взимане</span>
                            <select class="form-control" data-live-search="true" name="pickup" id="pickup" required="required" >
                                <option value="">Mясто на взимане</option>
                                <option>Sofia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
                        <div class='input-group date' id='datetime_pick'>
						  <input type='text' name='datetime_pick' class="form-control" readonly="readonly" placeholder="Взимане дата" required="required" />
						  <span class="input-group-addon">
								        <span class="glyphicon glyphicon-calendar"></span>
						  </span>
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i> Място на връщане</span>
                            <select class="form-control" data-live-search="true" name="dropoff" id="drop" required="required">
                                <option value="" >Mясто на връщане</option>
                                <option>Sofia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
						<div class='input-group date' id='datetime_off'>
						  <input type='text' class="form-control" name='datetime_off' readonly="readonly" placeholder="Връщане дата" required="required" />
						  <span class="input-group-addon">
								        <span class="glyphicon glyphicon-calendar"></span>
						  </span>
						</div>
                    </div>
                </div>
            </div>
            <div>
                <p style="color: red; font-size: 20px; text-align: center;" id="error"></p>
            </div>
            <div class="formbtn">
                <input type="submit" class="btn" value="Потърси коли">
            </div>
        </form>
    </div>
</div>
<script>

let startDateId = '#datetime_pick';
let endDateId = '#datetime_off';

$(document).ready(function(){
	/*==== Date Picker ====*/
    $('.date').datetimepicker({
		useCurrent: false,
		minDate: moment(),
        format: "DD-MM-YYYY",
        ignoreReadonly: true
    });
	$(startDateId).on("dp.change", function (e) {
        checkDates();
    	$(endDateId).data("DateTimePicker").minDate(e.date.add(1, 'days'));
    });
   	$(endDateId).on("dp.change", function (e) {
        checkDates();
    	$(startDateId).data("DateTimePicker").maxDate(e.date.add(1, 'days'));
    });
});

function checkDates() {
    let startDateInput = startDateId + " > input";
    let endDateInput = endDateId + " > input";

    let isOk = true;
    if (!$(startDateInput).val()) {
        $(startDateInput).addClass('invalid');
        isOk = false;
    } else {
        $(startDateInput).removeClass('invalid')
    }

    if (!$(endDateInput).val()) {
        $(endDateInput).addClass('invalid');
        isOk = false;
    } else {
        $(endDateInput).removeClass('invalid')
    }
    return isOk;
}
function submission() {
    let filled = checkDates();
    $("#error").text(filled ? "" : "Моля попълнете и двете дати!");
    return filled;
}

</script>
