<!-- Form Section -->
<div class="container" id="search">
    <div class="bformBox">
        <h3>РЕЗЕРВИРАЙТЕ КОЛА ДНЕС!</h3>
        <form id="searchForm" th:action="@{/car/search}" method="POST"> 
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i> Място на взимане</span>
                            <select class="form-control" data-live-search="true" name="pickup" id="pickup" required="required" >
                                <option value="">Mясто на взимане</option>
                                <option>Sofia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
                        <div class='input-group date' id='datetime_pick'>
						  <input type='text' name='datetime_pick' class="form-control" placeholder="Взимане дата" required="required" />
						  <span class="input-group-addon">
								        <span class="glyphicon glyphicon-calendar"></span>
						  </span>
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i> Място на връщане</span>
                            <select class="form-control" data-live-search="true" name="dropoff" id="drop" required="required">
                                <option value="" >Mясто на връщане</option>
                                <option>Sofia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="formrow">
						<div class='input-group date' id='datetime_off'>
						  <input type='text' class="form-control" name='datetime_off' placeholder="Връщане дата" required="required" />
						  <span class="input-group-addon">
								        <span class="glyphicon glyphicon-calendar"></span>
						  </span>
						</div>
                    </div>
                </div>
            </div>
            <div>
                <p style="color: red; font-size: 20px; text-align: center;" id="error"></p>
            </div>
            <div class="formbtn">
                <input type="submit" class="btn" value="Потърси коли">
            </div>
        </form>
    </div>
</div>
<script>
$(document).ready(function(){
	/*==== Date Picker ====*/
    $('.date').datetimepicker({
		useCurrent: false,
		minDate: moment(),
        format: "DD-MM-YYYY"
    });
	$("#datetime_pick").on("dp.change", function (e) {
    	$('#datetime_off').data("DateTimePicker").minDate(e.date.add(1, 'days'));
    });
   	$("#datetime_off").on("dp.change", function (e) {
    	$('#datetime_pick').data("DateTimePicker").maxDate(e.date.add(1, 'days'));
    });
});
</script>
