<h1>Всички коли</h1>
<div>
    <div>
        <button onclick="location.href ='/admin/car/create'">Създай</button>
    </div>
</div>
<section>
        <table>
            <tr>
                <th>Истинска<br/>Снимка</th>
                <th>Име</th>                
                <th>Цена На<br/>Ден (&euro;)</th>
                <th>Deposit(&euro;)</th>
                <th>LPG</th>
                <th>Превключване</th>
                <th>Брой седалки</th>
                <th>ID</th>
                <th>Опции</th>
            </tr>

            <th:block th:each="car : ${cars}">
            <tr>
                <td>
                    <img th:src="${car.imgUrl}"/>
                </td>
                <td>[[${car.name}]]</td>
                <td>[[${car.price}]]</td>
                <td>[[${car.deposit}]]</td>
                <td>[[${car.LPG}]]</td>
                <td>[[${car.transmission}]]</td>
                <td>[[${car.seatCount}]]</td>
                <td>[[${car.id}]]</td>
                <td>
                    <div>
                        <button th:onclick="'location.href = ' + '\'' + @{/admin/car/{id}/delete(id=${car.id})} + '\''">Изтрий</button>
                    </div>
                    <div>
                        <button th:onclick="'location.href = ' + '\'' + @{/admin/car/{id}/edit(id=${car.id})} + '\''">Редактирай</button>
                    </div>
                </td>
            </tr>
            </th:block>
        </table>
</section>
