<h1>Създай Кола</h1>
<section>
    <div>
        <form th:action="@{/admin/car/create}" method="POST">
            <div>
                <label for="name">Име</label>
                <input type="text" id="name" name="name" th:value="${car.name}" />

                <label for="price">Цена</label>
                <input type="number" id="price" name="price" th:value="${car.price}"/>

                <label for="deposit">Депозит</label>
                <input type="number" id="deposit" name="price" th:value="${car.deposit}"/>

                <label for="seatCount">Брой седалки</label>
                <input type="number" id="seatCount" name="seatCount" th:value="${car.seatCount}"/>

                <label for="imgUrl">URL на картинка</label>
                <input type="text" id="imgUrl" name="imgUrl" th:value="${car.imgUrl}"/>

                <label class="check-container">LPG?
                    <input type="checkbox" name="LPG" th:checked="${car.LPG}">
                    <span class="checkmark"></span>
                </label>

                <label>
                    Превключване:
                    <select class="form-control" id="transmission" name="transmission" th:value="${car.transmission}">
                        <option th:each="transmission : ${T(com.rentautosofia.rentacar.transmission.Transmission).values()}"
                                th:value="${transmission}"
                                th:text="${transmission}">
                        </option>
                    </select>
                </label>

                <div>
                    <button type="submit">Създай</button>
                </div>
            </div>
        </form>
    </div>
</section>
